/* write your override styles here */


#wall .tag-1 {
  display: none;
}

#wall .tag-1 ~ div {
  
  display: none;
}

/*not working*/

#wall #tag-3.slick {
  
  display: none;
}

#wall #tag-4 {
  
  display: none;
}

#wall .parent #tag-5.slick {
 
  display: none;
}

#wall .parent :last-child #tag-6 {
  
  display: none;
}

#wall div.parent div > #tag-7.slick {
  display: none;
}

#wall .parent ~ div {
  display: none;
}

/*<body>*/
/*  <div id="wall">*/
/*    <div class="tag-1"></div>*/
/*    <div id="tag-2"></div>*/
/*    <div id="tag-3" class="slick wicked"></div>*/
/*    <div class="parent">*/
/*      <div id="tag-4"></div>*/
/*    </div>*/
/*    <div class="parent">*/
/*      <div id="tag-5" class="slick"></div>*/
/*    </div>*/
/*    <div class="parent">*/
/*      <div></div>*/
/*      <div>*/
/*        <div id="tag-6"></div>*/
/*      </div>*/
/*    </div>*/
/*    <div class="parent">*/
/*      <div>*/
/*        <div id="tag-7" class="slick"></div>*/
/*      </div>*/
/*      <div></div>*/
/*    </div>*/
/*  </div>*/
/*</body>*/
